# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example

# Env files
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.venv
venv/
__pycache__/
**/__pycache__/
*.py[cod]
# CV Dataset and Artifacts
backend/cv/artifacts/
!backend/cv/artifacts/current/README.md
backend/cv/reports/
backend/cv/data/annotations.csv
backend/cv/data/generated/
backend/cv/data/images/
backend/cv/data/inference_samples/
backend/cv/data/healthy_samples/
# Keep gitkeeps so folders exist in git
!backend/cv/data/images/.gitkeep
!backend/cv/data/inference_samples/.gitkeep
!backend/cv/data/healthy_samples/.gitkeep
